{% load static %}
{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">

    <title>{{ welcome_words }}</title>
</head>

<body>
    <h1 id="page_head">{{ welcome_words }}</h1>

	<section name="form">
	<h2 class="tulis-status">Tulis Status</h2>
	<form id="form" method="POST" action="{% url 'post_status' %}">
		{% csrf_token %}
		{{ status_form.as_p }}
		<button type="submit" class="btn btn-default">Post</button>
	</form>
	<br>
	<a href="{% url 'delete_all_status' %}">
		<button id="delete_all" type="submit" class="btn btn-default">Delete all status</button>
	</a>

	</section>

	<h2>Status saya</h2>

	{% for i in status_list %}
		<p> {{ i.status }} </p>
	{% endfor %}
</body>
</html>
