{% load static %}
{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'story89.css' %}">
    </head>

<body>
    
    <h2>Login</h2>
    <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>    
    
    <script src="{% static 'jquery-1.12.4.js' %}"></script>
    <script src="{% static 'jquery-ui.js' %}"></script>

    <script>
        
    </script>

</body>