{% load static %}
{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

<body>
    <p class="display\-4">{{ user.email }}</p>
    <p class="display\-4">Selamat datang, {{ user.username }} </p>
    <a href="{% url 'logout' %}">Logout</a>


    <div style="width: 100%; display: table;">
    {% if laptop_list %}
    <div class="laptop_list" style="display: table-cell;">
        {% for laptop in laptop_list %}
        <div class="row">
            <div class="col">
                <p>{{ laptop.id }}</p>
            </div>
            <div class="col">
                <p>{{ laptop.name }}</p>
            </div>
            <div class="col">
                <p class="price">{{ laptop.price }}</p>
            </div>
            <div class="col">
                {% if laptop.id in laptopid_list %}
                <button class="btn btn-default btn-danger removewish" onclick="addWish('{{ laptop.id }}', '{{ laptop.name }}', '{{ laptop.price }}', this)">Remove From Wishlist</button>
                {% else %}
                <button class="btn btn-default btn-primary" onclick="addWish('{{ laptop.id }}', '{{ laptop.name }}', '{{ laptop.price }}', this)">Add To Wishlist</button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    {% endif %}
    <h3 id="total_price" style="display: table-cell;">{{ total_harga }}</h3>
    </div>
    
    <script src="{% static 'jquery-1.12.4.js' %}"></script>
    <script src="{% static 'jquery-ui.js' %}"></script>

    <script>
    console.log($("#total_price"))
    var addWish = function(id, name, price, cls) {
        if (cls.classList.contains("removewish")) {
            cls.classList.remove("removewish");
            cls.classList.remove("btn-danger");
            cls.classList.add("btn-primary");
            cls.innerHTML = "Add To Wishlist";
            $.ajax({
                method: "POST",
                url : '/story89/remove-wish/',
                data: { laptop_id: id, name: name, price: price, csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()},
                success : function (data) {
                    var total_price = document.getElementById("total_price");
                    total_price.innerHTML = parseInt(total_price.innerHTML) - parseInt(price);
                },
                error : function (error) {
                    alert(error.responseText)
                }
            });
        }
        else {
            cls.classList.add("removewish");
            cls.classList.add("btn-danger");
            cls.classList.remove("btn-primary");
            cls.innerHTML = "Remove From Wishlist";
            $.ajax({
                method: "POST",
                url : '/story89/add-wish/',
                data: { laptop_id: id, name: name, price: price, csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()},
                success : function (data) {
                    var total_price = document.getElementById("total_price");
                    total_price.innerHTML = parseInt(total_price.innerHTML) + parseInt(price);
                },
                error : function (error) {
                    alert(error.responseText)
                }
            });
        }
    };
        
    </script>

</body>