{% load static %}
{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'story10.css' %}">
</head>

<body>
    <h1>MyPPW-Story10</h1>

    <br><br>

    <h2>Sign Up</h2>
    <br>
    <form id="add_user" class="w-25" method="POST" action="#"> {% csrf_token %}
        {{ user_form }}
        <br>
        <button type="submit" class="btn btn-default btn-primary">KIRIM</button>
    </form>
    <form id="delete_all_user" class="w-25" action="{% url 'delete-all-user' %}">
		<button id="delete_all" type="submit" class="btn btn-default btn-danger">Delete all user</button>
	</form>

    <br><br><br>

    <h3>user list:</h3>
    <br>
    <div id="user_card_section">
    {% if user_list %}
        {% for user in user_list %}
            <div class="user_card bg-success text-white p-1 m-3">
                <p>Email : {{ user.email }}</p>
                <p>Nama : {{ user.nama }}</p>
                <p>Password : {{ user.password }}</p>
                <form>
                    <button id="delete" type="submit" class="btn btn-default btn-danger">Delete user</button>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <p>User kosong.</p>
    {% endif %}
    </div> 

    <script src="{% static 'jquery-1.12.4.js' %}"></script>
    <script src="{% static 'jquery-ui.js' %}"></script>

    <script>
        console.log("js jalan");
    $(function(){
        console.log($('#add_user'));
        $('#add_user').on('submit', function(event) {
            event.preventDefault();
            console.log("ajax jalan");
            $.ajax({
                method: 'POST',
                url : '/story10/add-user/',
                data: {
                    email: $('#field_email').val(),
                    nama: $('#field_nama').val(),
                    password: $('#field_password').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success : function () {
                    alert('Created new user');
                },
                error : function (error) {
                    alert(error.responseText);
                }
            });
        });
    });
    
    // $('#field_email').change(function () {
    //     email = $(this).val();
    //     $.ajax({
    //         method: 'POST',
    //         url: '{% url "validate-email" %}',
    //         data: {
    //             'email': email
    //         },
    //         dataType: 'json',
    //         success: function (data) {
    //             if (data.is_taken) {
    //                 alert('Email sudah terdaftar');
    //             }
    //         }
    //     });
    // });
    </script>
</body>

